@model iTemplate.Web.Models.Data.SiteConfiguration
@using iTemplate.Web.Models.Data
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  @PageTitle.Heading("Site Settings", "Edit");
}
@using (Html.BeginForm())
{
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)
      @PageEditor.HiddenFor(Html, model => model.Id)

      <div class='form-group'>

        @PageEditor.TextBoxFor(Html, model => model.Name, "tag")
        @PageEditor.DropdownFor(Html, model => model.ThemeId, iTemplate.Web.Models.SiteTheme.DropDown(), "tags")
        @Html.EditorFor(model => model.Address)

        @PageButton.Submit()

      </div>

    </div>
  </div>
}
<script>

  $("#ThemeId").change(function () {
    var themeId = $('#ThemeId').find(":selected").val();
    $.get("/api/themes/getUrl", { id: themeId })
      .done(function (data) {
        console.log("Data Loaded: ", data);
        $("#siteTheme").attr({ href: data });
      });
  });

</script>