@model iTemplate.Web.Models.Data.ContactType
@using (Html.BeginForm())
{
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)
      @Html.HiddenFor(model => model.ParentId)
      @Html.HiddenFor(model => model.Key)
      @Html.HiddenFor(model => model.Id)

      @PageEditor.DisabledTexboxFor(Html, model => model.Parent)
      @PageEditor.TextBoxFor(Html, model => model.Name)
      @PageEditor.TextBoxFor(Html, model => model.Description)
      @PageEditor.TextBoxFor(Html, model => model.SortOrder)
      @PageEditor.CheckBoxFor(Html, model => model.IsPublished)

      <div class="panel-footer">
        @PageButton.Submit()
        @PageButton.Cancel()
      </div>

    </div>
  </div>
}

