@model IEnumerable<iTemplate.Web.Models.Data.Currency>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  @PageTitle.Heading("Currencies")
}

<p>@PageButton.Create()</p>
<table>
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.IsoCode)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.IsoNumeric)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.MinorEntity)
      </th>
    </tr>
  </thead>
@foreach (var item in Model) {
    <tr>
        <td>
          @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsoNumeric)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinorEntity)
        </td>
    </tr>
}

</table>
