@model iTemplate.Web.Models.RegisterViewModel
@using Microsoft.AspNet.Identity.EntityFramework;
@using iTemplate.Web.Models
@{
	@PageTitle.Heading("Register", "Create a new account")
  ApplicationDbContext db = new ApplicationDbContext();
  ApplicationRoleManager roleManager = new ApplicationRoleManager(new RoleStore<ApplicationRole>(db));
  var roleNames = new SelectList(roleManager.Roles.Where(w => w.IsSystem == false).OrderBy(ob=>ob.Name).ToList(), "Id", "Name");
  }
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary("", new { @class = "text-danger" })

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
			@PageEditor.TextBoxFor(Html, model => model.Email, "envelope")
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      @PageEditor.PasswordFor(Html, model => model.Password)
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      @PageEditor.PasswordFor(Html, model => model.ConfirmPassword)
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      @PageEditor.DropdownFor(Html, model => model.RoleID, roleNames, "cloud")
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top:20px; margin-bottom:10px;">
      @PageButton.Submit("Register")
      @PageButton.NavigateUrl("Cancel", "Login")
    </div>
  </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
